
<div class="container">
<%= form_tag(product_dibs_path, method: "post") do %>
  <%= text_field_tag(:billing_detail_name, '', :placeholder => "Name", :class => "form-control") %>
  <%= text_field_tag(:billing_detail_address1, '', :placeholder => "Address Line 1", :class => "form-control") %>
  <%= text_field_tag(:billing_detail_address2, '', :placeholder => "Address Line 2", :class => "form-control") %>
  <%= text_field_tag(:billing_detail_city, '', :placeholder => "City", :class => "form-control") %>
  <%= text_field_tag(:billing_detail_state, '', :placeholder => "State", :class => "form-control") %>
  <%= text_field_tag(:billing_detail_zip, '', :placeholder => "Zipcode", :class => "form-control") %>
  <%= select_tag(:size, options_for_select(@sizes), :class => "form-control") %>
  <br/>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= STRIPE_PUBLISHABLE_KEY %>"
    data-image="/images/stripe-image.png"
    data-name="dibstarter"
    data-description="<%= @product.description %>"
    data-amount="<%= @product.price_in_cents %>"
    data-email="<%= @user.email %>">
  </script>
<% end %>
</div>
